.hay-menu{
  width: 256px;
  border-right: 1px solid #e6e6e6;
  .hay-menu-item{
    height: 40px;
    line-height: 40px;
    padding: 0 24px;
    cursor: pointer;
    transition: border-color .3s,background-color .3s,color .3s;
    &.is-active{
      color: #409eff;
      background-color: #ecf5ff;
    }
    &:hover {
      color: #409eff;
    }
  }
}